{% extends 'home.html' %}
{% block content %}
    <div>
        <h1>Language Translation & Detection</h1>
        <form action="/language_trans_detect" method="post">
            <label for="text">Enter the text:</label>
            <input type="text" name="Enter the text" placeholder="text" required = 'required' value="{{ request.form['Enter the text'] }}"><br><br>
            <label for="Language">Choose a Language:</label>
            <select name="Language" id="Select Language" value="{{ request.form['Language'] }}">
                <option value="">Select</option>
                <option value="en">English</option>
                <option value="ta">Tamil</option>
                <option value="hi">Hindi</option>
                <option value="gu">Gujarati</option>
                <option value="bn">Bengali</option>
                <option value="nl">Dutch</option>
                <option value="fr">French</option>
            </select><br><br>
            <button type="submit">Translate & Detect</button>
        
        </form>
        <h3>Output</h3>
        {{ out_data }} <br><br>
        {{ in_data }}
    </div>






{% endblock %}